

body {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
span {
    color: rgb(30, 255, 0);
}
  .pt-sans narrow-bold {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.nav-title {
    font-size: 45px;
    font-weight: 800;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a { 
    text-decoration: none;
    color: rgb(94, 59, 8);
}
.btn-primary {
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: rgb(30, 255, 0);
    padding: 15px 35px;
}

.header {
    background-color: aquamarine;
}
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.btn-primary2 {
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-color: greenyellow;
    background: rgba(30, 255, 0, 0);
    padding: 15px 35px;
}
.banner .profile-pic {
    width: 500px;
}